{% extends 'index.html' %}

{% block content %}


<div class="mt-5 pt-5">
  <form class="w-50 mx-auto mt-5 pt-5">
    <div class="mb-3 d-flex">
      <input placeholder="Video URL..." type="email" class="form-control" id="exampleInputEmail1" style="border-color:#454340;border-radius: 0;" aria-describedby="emailHelp">
      <a class="btn form-control text-dark  login_btn w-25" style="border-radius: 0;">Submit</a>
    </div>
  </form>
</div>


<div class="">
  <form class="w-50 mx-auto ">
    <div class="mb-3 d-flex">
      <input placeholder="Ask Question..." type="email" class="form-control" id="exampleInputEmail1" style="border-color:#454340;border-radius: 0;" aria-describedby="emailHelp">
      <a class="btn form-control getstarted w-25" style="border-radius: 0;">Ask Question</a>
    </div>
  </form>
</div>

<div class="w-50 mx-auto mt-4">
  <p class="fw-bold fs-5">Output</p>
<div class=" border border-3 border-secondary rounded rounded-3 " style="min-height:300px">

</div>
</div>

{% endblock content %}